<table>
  <tr>
    <th>Name</th>
    <th>Created at</th>
    <th>Number of customers</th>
  </tr>
  <% @companies.each do |company| %>
    <tr>
      <th><%= company.name %></th>
      <th><%= company.created_at %></th>
      <th><%= company.customers.size %></th>
    </tr>
  <% end %>
</table>
